<%provide(:title, 'About Us') %>
	<h1> About Us </h1>

	<p> 
	 This is our page and if you have a problem with it 
	 please visit <a href="http://facebook.com/macgill4444"> our official site </a>

	</p>

