<%provide(:title, 'Contact') %>
	<h1> Contact </h1>

	<p> 
	 This is our Contact page and if you have a problem with it 
	 please visit <a href="http://facebook.com/macgill4444"> our official site </a>

	</p>

